* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html {
    font-size: 10px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    overflow: hidden;
    height: 90vh;
}

.box1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: blanchedalmond;
    overflow: hidden;
}

.countdown {
    width: 12rem;
    height: 12rem;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 50%;
}

.countdown>span {
    font-size: 2rem;
    font-weight: 900;
    color: black;
}

.countdown>p {
    font-size: 1.5rem;
    color: rgb(139, 134, 134);
}

.box2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 6rem 3rem;
    background-color: rgb(70, 66, 66);
}

.box2>h1 {
    color: orangered;
    font-weight: 900;
}

.box2>h2 {
    width: 70%;
    font-size: 4rem;
}

.btn {
    background-color: orangered;
    width: fit-content;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.btn:hover {
    color: orangered;
    background-color: aliceblue;
    transition: 0.4s;
}

.throw-back-btn {
    margin-top: 4rem;
}

.play-music-btn {
    margin-top: 4rem;
}

.box2>p {
    font-size: 2rem;
    margin-top: 3rem;
}

.divider {
    width: 100%;
    height: 0.3rem;
    background-color: orangered;
}

.footer {
    background-color: rgb(70, 66, 66);
    text-align: center;
    padding: 2rem;
    height: 9.5vh;
}

.footer>p {
    font-size: 2rem;
}

/* gallery */

.home {
    height: 100vh;
    overflow: hidden;
    background-color: blanchedalmond;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
}

.btn-home {
    padding: 1rem 2rem;
    position: fixed;
    z-index: 2;
}

.wishes {
    margin: auto 0;
    width: fit-content;
}

.message1 {
    font-size: 5rem;
    background-image: linear-gradient(to top, blue, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.message2 {
    color: orangered;
    font-size: 3rem;
    margin-top: 2rem;
    font-style: italic;
}

.images-container {
    position: relative;
    width: 100%;
    padding: 3rem 1.5rem;
    display: block;
    column-count: 4;
    column-width: auto;
    overflow: hidden;
    background: linear-gradient(to top, rgba(255, 166, 0, 0.174), rgba(0, 128, 0, 0.137));
}

.image-box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 1rem;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
    text-align: center;
    background-color: black;
    margin: 1rem;
}

.img {
    height: 500px;
    overflow: hidden;
}

.img>img {
    width: 100%;
    height: 100%;
}

.image-text {
    color: orangered;
    text-transform: capitalize;
    color: aliceblue;
    padding: 1rem;
}

.image-btn {
    display: none;
    z-index: 1;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small {
    height: 200px;
}

.large {
    height: 300px;
}

.xlarge {
    height: 400px;
}

.xxlarge {
    height: 500px;
}
@media only screen and (max-width: 900px) {
    html {
        font-size: 8px;
    }
    .images-container {
        column-count: 3;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: p7x;
    }
    .images-container {
        column-count: 2;
    }
}